/* Color palette previews */
.sg-fonts {
  padding: 0;
}

.sg-fonts__font {
  margin: 0 0 2rem;
  list-style-type: none;
}

.sg-fonts__weight {
  display: block;
  font-family: sans-serif;
}

.sg-fonts__css {
  display: block;
  margin: 0 0 0.5rem;
}

.sg-fonts__sample {
  margin: 0 0 0.5rem 2rem;
}
