{{#palettes}}
  <h4 class="sg-pattern-sub-heading">{{name}}</h4>
  <ul class="sg-colors">
    {{#colors}}
      <li class="sg-colors__color">
        <span class="sg-colors__swatch" style="background-color: {{color}};"></span>
        <strong class="sg-colors__name">{{name}}</strong>
        <code class="sg-colors__var">{{var}}</code>
      </li>
    {{/colors}}
  </ul>
{{/palettes}}
