@mixin clear($pseudo: 'before') {
  @if (not $pseudo == 'before' or not $pseudo == 'after') {
    @error 'pseudo class #{$pseudo} not valid';
  }

  &::#{$pseudo} {
    content: '';
    display: table;
    clear: both;
  }
}
