// a simple mixin to create a container for the page
@mixin grav-l-container($no-margin: false) {
  max-width: $grav-page-content-max-width;
  margin-right: $grav-sp-page-content-inset;
  margin-left: $grav-sp-page-content-inset;


  // IE10+ bug that happens when using margin: auto
  // to fill all the available space between flex items.
  // More info: https://github.com/philipwalton/flexbugs#flexbug-15
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media (min-width: gravy-breakpoint(large)) {
      align-self: center;
    }
  }

  @media (min-width: gravy-breakpoint(large)) {
    margin-right: auto;
    margin-left: auto;
  }
}
