// a mixin to add column based layout styles
@mixin grav-l-column-layout($column-count: 2, $column-gap: $grav-sp-l) {
  $column-spacing: $column-gap / 2;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;

  // All children start with margin on their sides
  > * {
    width: calc((100% - #{(($column-count - 1) * 2) * $column-spacing}) / #{$column-count});
    margin-right: $column-spacing;
    margin-left: $column-spacing;
  }

  // Select the right-most column's children and remove the right margin
  > *:nth-child(#{$column-count}n) {
    margin-right: 0;
  }

  // Select the left-most column's children and remove the left margin
  > *:nth-child(#{$column-count}n - #{$column-count - 1}) {
    margin-left: 0;
  }

  // Select the top row's children and remove the top margin
  > *:nth-child(-n + #{$column-count}) {
    margin-top: 0;
  }

  > li {
    padding-right: 0;
    padding-left: 0;
  }
}

// a mixin remove list styles which might interfere with column's layout purposes
@mixin grav-l-column-list {
  padding-right: 0;
  padding-left: 0;
  list-style: none;

  > li {
    padding-right: 0;
    padding-left: 0;
  }
}

// a mixin to expand items in column layouts if the final row is not full.
@mixin grav-l-column-no-danglies {
  > * {
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}
