.grav-c-nav-link {
  display: inline-block;
  padding: $grav-sp-inset-squished-xs;
  color: currentColor;
  text-decoration: none;
  white-space: nowrap;

  &[href] {
    &:link,
    &:visited {
      color: currentColor;
    }

    &:hover,
    &:active {
      @include grav-color-grp-b-apply('color', 'neutral-emphasis', true);
    }
  }
}
