<html>
<head><link rel="stylesheet" href="https://static.buildit.digital/gravity/v1.0.1/gravity.css"></head>
<body>
<h1>Versions</h1>
<ul>{versionlist}</ul>
<a href="https://github.com/buildit/gravity-ui-web/blob/develop/CHANGELOG.md">See change log</a>
</body>
</html>
