.grav-c-location-card {
  display: grid;
  grid-column-gap: 1em;
  grid-template-areas:
    'title'
    'info'
    'map';
  grid-template-columns: 1fr;

  @media (min-width: gravy-breakpoint(small)) {
    grid-template-areas:
      'title title'
      'map info';
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: gravy-breakpoint(medium)) {
    margin-top: 2em;
    flex-basis: calc(50% - 2em);
  }

  h2 {
    grid-area: title;
  }

  address {
    grid-area: info;
  }

  img {
    border-radius: 5px;
    grid-area: map;
  }
}
