.grav-c-location-card {
  display: grid;
  margin-top: $grav-sp-l;
  grid-gap: $grav-sp-m;
  grid-template-areas:
    'title'
    'info'
    'map';
  grid-template-columns: 1fr;

  @media (min-width: gravy-breakpoint(small)) {
    grid-template-areas:
      'title title'
      'map info';
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: gravy-breakpoint(medium)) {
    flex-basis: calc(50% - 2em);
  }

  h2 {
    grid-area: title;
  }

  p {
    margin: 0;
    grid-area: info;
  }

  a {
    margin: 0;
    grid-area: map;
  }

  img {
    border-radius: $grav-st-radius;
  }
}
