/**
  Color variables
*/

// === "RAW" Buildit brand colours ===
// These should NOT be referenced directly by CSS properties - instead
// the Mapping variables (defined below) should always be used.

// Primary: Oranges
$grav-co-primary-dark-choco: #571500;
$grav-co-primary-acorn: #ad3c00;
$grav-co-primary-satsuma: #ff7913;
$grav-co-primary-murican-cheese: #ffbc58;
$grav-co-primary-eggshell: #ffe7c2;

// Secondary: Teals
$grav-co-secondary-twilight: #012b3d;
$grav-co-secondary-deep-ocean: #095771;
$grav-co-secondary-tealy-mc-tealface: #287a95;
$grav-co-secondary-bread-mould: #5ea1b8;
$grav-co-secondary-nuclear-winter: #d5e9f0;

// Neutrals
$grav-co-neutral-charcoal: #241c1c;
$grav-co-neutral-asphalt: #544848;
$grav-co-neutral-warm-grey: #8b8080;
$grav-co-neutral-ashtray: #c0bbbb;
$grav-co-neutral-dirty-snow-white: #f7f5f5;


// === Mappings ===

// Document colour defaults
$grav-co-fg: $grav-co-neutral-charcoal;
$grav-co-bg: $grav-co-neutral-dirty-snow-white;

// Accent colours for interactive elements like links and buttons
// (The $grav-co-*-contrast colors can be used together with the corresponding
// $grav-co-* to make an accessible FG/BG combo.)
$grav-co-interactive-primary: $grav-co-primary-acorn;
$grav-co-interactive-primary-contrast: $grav-co-bg;
$grav-co-interactive-primary-hover: $grav-co-primary-satsuma;
$grav-co-interactive-primary-visited: $grav-co-primary-dark-choco;

$grav-co-interactive-secondary: $grav-co-secondary-deep-ocean;
$grav-co-interactive-secondary-contrast: $grav-co-bg;
$grav-co-interactive-secondary-hover: $grav-co-secondary-tealy-mc-tealface;
$grav-co-interactive-secondary-visited: $grav-co-secondary-twilight;

// primary accent colour
// this is going to be used for grabbing attention from the user
$grav-co-accent-primary: $grav-co-primary-satsuma;
$grav-co-accent-primary-light: $grav-co-primary-murican-cheese;
$grav-co-accent-primary-lighter: $grav-co-primary-eggshell;
$grav-co-accent-primary-dark: $grav-co-primary-acorn;
$grav-co-accent-primary-darker: $grav-co-primary-dark-choco;

// secondary accent colour
// this is going to be used to style secondary elements, like certain types of borders, solid backgrounds.
// needs to be used sparsely.
$grav-co-accent-secondary: $grav-co-secondary-tealy-mc-tealface;
$grav-co-accent-secondary-light: $grav-co-secondary-bread-mould;
$grav-co-accent-secondary-lighter: $grav-co-secondary-nuclear-winter;
$grav-co-accent-secondary-dark: $grav-co-secondary-deep-ocean;
$grav-co-accent-secondary-darker: $grav-co-secondary-twilight;

// disabled colours
$grav-co-disabled: $grav-co-neutral-ashtray;
$grav-co-disabled-contrast: $grav-co-neutral-asphalt;
