{# Reusable macro for other templates to import: #}
{%- macro textInput(id, classNames, type, disabled) -%}
  <input
  {%- if id %} id="{{id}}"{%- endif -%}
  {%- if classNames %} class="{{ classNames }}"{%- endif -%}
  {%- if type %} type="{{type}}"{%- endif -%}
  {%- if disabled %} disabled{%- endif -%}
  >
{%- endmacro -%}

{# Example rendering: #}
{{ textInput(id, classNames, type, disabled) | safe }}