{# Reusable macro for other templates to import: #}
{%- macro textInput(id, class, type, disabled) -%}
  <input
  {%- if id %} id="{{id}}"{%- endif -%}
   class="grav-c-text-input {%- if class %}{{class}}{%- endif -%}"
  {%- if type %} type="{{type}}"{%- endif -%}
  {%- if disabled %} disabled{%- endif -%}
  >
{%- endmacro -%}

{# Example rendering: #}
{{ textInput(id, class, type, disabled) | safe }}