.grav-c-footer {
  background: #424242;
  padding: $grav-sp-l 0;
  color: #9b9b9b;
  font-size: 16px;
  border-bottom: 2px solid #00b49d;

  &__logo {
    max-width: 100px;
  }

  &__lists {
    display: flex;

    &-entry {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;

      &:first-of-type {
        padding-right: 100px;
      }

      li {
        margin: 0;
        padding: 0;
      }

      a[href]:link {
        text-decoration: none;
        color: #9b9b9b;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
