<button type="button" aria-pressed="{{control.pressed}}"{{#control.disabled}} disabled{{/control.disabled}} class="grav-c-icon-toggle-button"  aria-label="{{control.label}}">
  {{> atoms-icon}}
</button>
