<h4>Button</h4>

<p>
  <button type="button"{{#control.disabled}} disabled{{/control.disabled}} class="grav-c-cta">
    {{control.label}}
  </button>
</p>

<h4>Anchor</h4>

<p>
  <a class="grav-c-cta{{#control.disabled}} is-disabled{{/control.disabled}}" href="#">
    {{control.label}}
  </a>
</p>

<h4>Secondary Button</h4>

<p>
  <button type="button"{{#control.disabled}} disabled{{/control.disabled}} class="grav-c-cta grav-c-cta--secondary">
    {{control.label}}
  </button>
</p>

<h4>Secondary Anchor</h4>

<p>
  <a class="grav-c-cta grav-c-cta--secondary {{#control.disabled}} is-disabled{{/control.disabled}}" href="#">
    {{control.label}}
  </a>
</p>
