<button type="button"{{#control.disabled}} disabled{{/control.disabled}} class="grav-c-cta">
  {{control.label}}
</button>

<a class="grav-c-cta{{#control.disabled}} disabled{{/control.disabled}}" href="#">
  {{control.label}}
</a>
