<p class="is-light">
  <button type="button" class="grav-c-toggle-menu" aria-pressed="{{control.pressed}}" aria-label="{{control.label}}">
   <span class="grav-c-toggle-menu__icon"></span>
  </button>
</p>

<h4>Dark background</h4>

<p class="sg-dark-background">
  <button type="button" class="grav-c-toggle-menu" aria-pressed="{{control.pressed}}" aria-label="{{control.label}}">
    <span class="grav-c-toggle-menu__icon"></span>
  </button>
</p>
