<svg role="img" class="{{styleModifier}}"{{#titleId}} aria-labelledby="{{titleId}}"{{/titleId}}{{#width}} width="{{width}}"{{/width}}{{#height}} height="{{height}}"{{/height}}>
  <use xlink:href="#{{symbolId}}"></use>
</svg>
