label {
  display: block;

  > textarea {
    width: 100%;
    margin-top: $grav-sp-s;
  }
}

input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
  max-width: 40ch;
  padding-right: $grav-sp-xs;
  padding-left: $grav-sp-xs;
  border: grav-px2rem(1) solid var(--grav-co-grp-b-neutral);
  background-color: var(--grav-co-grp-a-neutral);
}

textarea {
  display: block;
  padding-right: $grav-sp-xs;
  padding-left: $grav-sp-xs;
  border: grav-px2rem(1) solid var(--grav-co-grp-b-neutral);
  background-color: var(--grav-co-grp-a-neutral);
}
