img,
svg {
  max-width: 100%;
  height: auto;
}


picture {
  // Avoid slight gap below <img> when the
  // <picture> is display:block due to <img>
  // being display:inline by default.
  // (The <img> is aligned with baseline, not
  // the bottom of the text box)
  display: inline-block;

  > img {
    display: block;

    // Avoid <img> inside <picture> having
    // top margin applied by the * + * rule
    margin-top: 0;
  }
}


// Set default fill for inlineed SVGs.
svg {
  fill: currentColor;
}

// The following class names are defined in the source SVGs
// provided by Gravity Particles and thus deviate from our
// usual class-naming conventions.

// stylelint-disable selector-class-pattern
.grav-svg-hl-1 {
  @include grav-color-apply('fill', 'b', 'accent');
}

.grav-svg-hl-2 {
  @include grav-color-apply('fill', 'b', 'control-alt');
}

.grav-svg-hl-3 {
  @include grav-color-apply('fill', 'b', 'accent-attention');
}
// stylelint-enable selector-class-pattern
