/* Color palette previews */

/** @define sg-colors */
.sg-colors {
  display: block;
  padding: 0;
  list-style: none;
}

@media all and (min-width: 30em) {
  .sg-colors {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .sg-colors {
    grid-template-columns: repeat(5, 1fr);
  }
}

.sg-colors__color {
  max-width: 100%;
  margin: 0 0 0.5em;
  padding: 0.3em;
  border: 1px solid #ddd;
  min-width: 5em;
}
