/**
  Color variables
*/

// === "RAW" Buildit brand colours ===

// Primary: Yellows
$color-buildit-latte: #4f2f00;
$color-buildit-cuppa: #ac6700;
$color-buildit-egg-yolk: #ff9900;
$color-buildit-murican-cheese: #ffbc58;
$color-buildit-eggshell: #ffe7c2;

// Secondary: Teals
$color-buildit-twilight: #012b3d;
$color-buildit-deep-ocean: #095771;
$color-buildit-tealy-mc-tealface: #287a95;
$color-buildit-bread-mould: #5ea1b8;
$color-buildit-nuclear-winter: #d5e9f0;

// Neutrals
$color-buildit-charcoal: #241c1c;
$color-buildit-asphalt: #544848;
$color-buildit-warm-grey: #8b8080;
$color-buildit-ashtray: #c0bbbb;
$color-buildit-dirty-snow-white: #f7f5f5;


// === Mappings ===

$color-fg-default: $color-buildit-charcoal;
$color-bg-default: $color-buildit-dirty-snow-white;
