/**
  Color variables
*/

// === "RAW" Buildit brand colours ===
// These should NOT be referenced directly by CSS properties - instead
// the Mapping variables (defined below) should always be used.

// Primary: Yellows
$grav-co-primary-latte: #4f2f00;
$grav-co-primary-cuppa: #ac6700;
$grav-co-primary-egg-yolk: #f90;
$grav-co-primary-murican-cheese: #ffbc58;
$grav-co-primary-eggshell: #ffe7c2;

// Secondary: Teals
$grav-co-secondary-twilight: #012b3d;
$grav-co-secondary-deep-ocean: #095771;
$grav-co-secondary-tealy-mc-tealface: #287a95;
$grav-co-secondary-bread-mould: #5ea1b8;
$grav-co-secondary-nuclear-winter: #d5e9f0;

// Neutrals
$grav-co-neutral-charcoal: #241c1c;
$grav-co-neutral-asphalt: #544848;
$grav-co-neutral-warm-grey: #8b8080;
$grav-co-neutral-ashtray: #c0bbbb;
$grav-co-neutral-dirty-snow-white: #f7f5f5;


// === Mappings ===

// Document colour defaults
$grav-co-fg: $grav-co-neutral-charcoal;
$grav-co-bg: $grav-co-neutral-dirty-snow-white;
