@import 'gravy';

$grav-line-height: 1.5;

// stylelint-disable-next-line scss/dollar-variable-pattern
$gravy: (
  breakpoints: (
    small: 500px,
    medium: 700px,
    regular: 900px,
    large: 1200px,
    extra-large: 2000px
  ),
  typefaces: (
    primary: (
      stack: ('Roboto', sans-serif),
      weights: (
        regular: 300,
        bold: 500
      )
    ),
    secondary: (
      stack: ('Cabin', sans-serif),
      weights: (
        regular: 400,
        bold: 600
      )
    )
  ),
  typi: (
    base: (
      null: (ms(0), $grav-line-height),
      small: (ms(1)),
      large: (ms(2))
    ),
    small-text: (
      null: ms(-1)
    ),
    large-text: (
      null: (ms(1))
    ),
    larger-text: (
      null: (ms(0)),
      small: (ms(1)),
      regular: (ms(2)),
    )
  )
);
