@import 'gravy';

$gravy: (
  typefaces: (
    primary: (
      stack: ('Roboto', sans-serif),
      weights: (
        regular: 400,
        bold: 'bold'
      )
    ),
    secondary: (
      stack: ('Cabin', sans-serif),
      weights: (
        regular: 400,
        bold: 600
      )
    )
  ),
  typi: (
    base: (
      null: (ms(0), 1.5),
      small: (ms(1)),
      large: (ms(2))
    )
  )
);
