@import 'gravy';

$gravy: (
  typefaces: (
    primary: (
      stack: ('Roboto', sans-serif),
      weights: (
        regular: 400,
        bold: 'bold'
      )
    ),
    secondary: (
      stack: ('Cabin', sans-serif),
      weights: (
        regular: 400,
        bold: 600
      )
    )
  )
);
