/**
  Color variables
*/

// === "RAW" Buildit brand colours ===

// Neutrals
$color-buildit-charcoal: #241c1c;
$color-buildit-asphalt: #544848;
$color-buildit-warm-grey: #8b8080;
$color-buildit-steel: #c0bbbb;
$color-buildit-dirty-snow-white: #f7f5f5;

// Teals
$color-buildit-twilight: #012b3d;
$color-buildit-deep-ocean: #095771;
$color-buildit-tealy-mc-tealface: #287a95;
$color-buildit-bread-mould: #5ea1b8;
$color-buildit-nuclear-winter: #d5e9f0;

// Yellows
$color-buildit-latte: #4f2f00;
$color-buildit-tea: #ac6700;
$color-buildit-eggyolk: #ff9900;
$color-buildit-murican-cheese: #ffbc58;
$color-buildit-eggshell: #ffe7c2;


// === Mappings ===

$color-fg-default: $color-buildit-charcoal;
