/**
  Typography-related values
*/
@import url('https://fonts.googleapis.com/css?family=Cabin:400:600|Roboto');

$font-size-base: unset;
// TODO remove and use gravy `$base-font-size` and `$base-line-height`
$line-height-default: $base-font-size;
// TODO use `gravy-font`, see gravy.scss for options
$font-family-default: 'sans-serif';
