.grav-c-nav-menu {

  > ul {
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      // Add small vertical gap successive list items
      & + li {
        margin-top: $grav-st-thickness;
      }

      > .grav-c-block-link {
        display: block;
      }
    }
  }

  // Media queries
  @media (min-width: gravy-breakpoint(small)) {
    $items-per-row: 4;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      > li {
        flex-basis: calc((100% - #{$items-per-row - 1} * #{$grav-st-thickness}) / #{$items-per-row});

        > .grav-c-block-link {
          height: 100%;
        }

        // Remove vertical gap from first row of links
        &:nth-child(-n + #{$items-per-row}) {
          margin-top: 0;
        }
      }
    }
  }
}
