.grav-c-nav-menu {
  $items-per-row: 4;
  $trigger-breakpoint: gravy-breakpoint(medium);
  width: 100%;
  text-align: right;

  @media (min-width: $trigger-breakpoint) {
    width: auto;
  }

  // toggle-menu button
  > button {
    position: relative;
    margin-right: $grav-sp-m;
    border: $grav-st-thickness solid $grav-co-neutral-asphalt;
    background-color: $grav-co-fg;
    z-index: 1;

    @media (min-width: $trigger-breakpoint) {
      display: none;
    }

    &[aria-pressed='true'] {
      background-color: inherit;
      color: $grav-co-neutral-dirty-snow-white;
    }

    &:active {
      color: $grav-co-neutral-dirty-snow-white;
    }

    &:hover {
      background-color: inherit;
      cursor: pointer;
    }

    .is-light & {
      background-color: $grav-co-bg;
    }
  }

  > button[aria-pressed] ~ ul,
  > button[aria-pressed='false'] ~ ul {
    display: none;

    @media (min-width: $trigger-breakpoint) {
      display: flex;
      margin-top: 0;
    }
  }

  > button[aria-pressed='true'] ~ ul {
    display: block;
  }

  > ul {
    width: 100%;
    margin-top: $grav-sp-s;
    padding: 0;

    @media (min-width: $trigger-breakpoint) {
      text-align: right;
    }
  }

  li {
    margin: 0;
    list-style-type: none;

    @media (min-width: $trigger-breakpoint) {
      text-align: center;
    }
  }

  // styling of the menu links
  .grav-c-block-link {
    display: block;
    padding-right: $grav-sp-m;
    border: 0;
    border-right-width: $grav-st-thickness-large;
    background-color: $grav-co-neutral-charcoal;
    border-color: $grav-co-bg;
    border-style: solid;
    color: $grav-co-bg;

    @media (min-width: $trigger-breakpoint) {
      display: inline-block;
      height: 100%;
      padding-right: $grav-sp-s;
      border-right-width: 0;
      border-bottom-width: $grav-st-thickness;
    }

    &:link,
    &:visited {
      background-color: $grav-co-neutral-charcoal;
    }

    &:active {
      color: $grav-co-neutral-ashtray;
    }

    &:hover {
      background-color: $grav-co-neutral-charcoal;
    }

    &:not([href]) {
      background-color: $grav-co-neutral-charcoal;
      color: $grav-co-neutral-dirty-snow-white;
    }
  }
}
