/** @define sg-example */
.sg-example--inline-block {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: $grav-co-neutral-warm-grey;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.sg-example--padded-block {
  max-width: 8rem;
  background-color: $grav-co-primary-satsuma;
}

.sg-example--padded-block > div {
  height: 6rem;
  position: relative;
  background-color: $grav-co-primary-satsuma;
  box-sizing: border-box;
}

.sg-example--padded-block > div > div {
  position: absolute;
  background-color: $grav-co-neutral-warm-grey;
  box-sizing: border-box;
}
