////
/// Definitions of Gravity's out-of-the-box color scheme maps.
///
/// @group  colors
/// @access public
////


/// Light color scheme.
$grav-co-scheme-light: (
  // == Group A colors ==
  'group-a': (
    // Base neutral color.
    //
    // Always used for container background,
    // may be used for other things.
    'neutral': $grav-co-wipro-white,

    // Alternative neutral color to be used
    // for subtle, NON-ESSENTIAL, effects. E.g.
    // banding alternate table rows.
    'neutral-alt': $grav-co-wipro-white,

    // Accent color for elements that should draw the user's
    // focus.
    // Typically, this should be paired with the corresponing
    // layer 1 accent color, because color schemes may assign
    // neutral colors to either the layer 0 or layer 1 accent
    // colors.
    // For example: highlighted text, calls to action, etc.
    'accent': $grav-co-wipro-white,

    // Accent color for elements that indicate success or
    // completion.
    // For example: Status messages or icons that indicate that
    // something is OK or complete.
    'accent-success': $grav-co-wipro-white,

    // Accent color for elements that require the user's
    // attention.
    // For example: Warning messages or alerts.
    'accent-attention': $grav-co-wipro-white,

    // Accent color for elements that indicate danger or risk.
    // For example: Error messages or destructive actions.
    'accent-danger': $grav-co-wipro-white,

  ),

  // == Group B colors ==
  'group-b': (
    // Base neutral color.
    // Always used for container foreground (i.e. text).
    // May be used for other non-interactive things that need
    // to be visibly distinguishable against the background
    // such as table borders, dividers, etc.
    'neutral': $grav-co-wipro-dark-gray,

    // Alternative neutral color to be used
    // for non-interactive items that need to visually stand out
    // less against their surroundings. E.g. small text, code
    // comments, etc.
    'neutral-subtle': $grav-co-wipro-dark-gray,

    // Alternative neutral color to be used
    // for non-interactive items that need to visually stand out
    // more against their surroundings. E.g. emphasized text,
    // quotes, etc.
    'neutral-emphasis': $grav-co-wipro-dark-gray,

    // Color intended for interactive controls (links, buttons, etc.)
    // that need to be visually distinguishable against the background.
    'control': $grav-co-wipro-teal-100,

    // Color intended for an alternative state or type of interactive
    // control. For example, a visited link.
    'control-alt': $grav-co-wipro-violet-100,

    // Color intended for states of interactive controls that need
    // to be visually emphasised somehow. Typically this will be used
    // for hover and/or focus states.
    'control-emphasis': $grav-co-wipro-teal-80,

    // Color intended for the active state of interactive controls.
    // Typically this will be used when a button is pressed or a link
    // is clicked.
    'control-active': $grav-co-wipro-teal-80,

    // Color intended for the disbaled state of interactive controls.
    'control-disabled': $grav-co-wipro-dark-gray,

    // Accent color for elements that should draw the user's
    // focus.
    // Typically, this should be paired with the corresponing
    // layer 0 accent color, because color schemes may assign
    // neutral colors to either the layer 0 or layer 1 accent
    // colors.
    // For example: highlighted text, calls to action, etc.
    'accent': $grav-co-wipro-red-100,

    // Accent color for elements that indicate success or
    // completion.
    // For example: Status messages or icons that indicate that
    // something is OK or complete.
    'accent-success': $grav-co-wipro-dark-gray,

    // Accent color for elements that require the user's
    // attention.
    // For example: Warning messages or alerts.
    'accent-attention': $grav-co-wipro-dark-gray,

    // Accent color for elements that indicate danger or risk.
    // For example: Error messages or destructive actions.
    'accent-danger': $grav-co-wipro-dark-gray,
  ),
);


/// Dark color scheme.
$grav-co-scheme-dark: (
  // == Group A colors ==
  'group-a': (
    'neutral': $grav-co-wipro-dark-gray,
    'neutral-alt': $grav-co-wipro-dark-gray,
    'accent': $grav-co-wipro-dark-gray,
    'accent-success': $grav-co-wipro-dark-gray,
    'accent-attention': $grav-co-wipro-dark-gray,
    'accent-danger': $grav-co-wipro-dark-gray,
  ),

  // == Group B colors ==
  'group-b': (
    'neutral': $grav-co-wipro-white,
    'neutral-subtle': $grav-co-wipro-white,
    'neutral-emphasis': $grav-co-wipro-white,
    'control': $grav-co-wipro-teal-80,
    'control-alt': $grav-co-wipro-violet-80,
    'control-emphasis': $grav-co-wipro-teal-100,
    'control-active': $grav-co-wipro-teal-100,
    'control-disabled': $grav-co-wipro-white,
    'accent': $grav-co-wipro-red-60,
    'accent-success': $grav-co-wipro-white,
    'accent-attention': $grav-co-wipro-white,
    'accent-danger': $grav-co-wipro-white,
  ),
);



/// The default color scheme that is applied to pages
$grav-co-scheme-default: $grav-co-scheme-light;
