////
/// Definitions of "raw" brand colors which color schemes will
/// assign to various purposes.
///
/// These SASS variables should **not** be used directly in CSS rules
/// or by consumers as Gravity.
///
/// @group  colors
/// @type   Color
/// @access private
////


// === Wipro brand (v2) colors ===

/*
  # Colors
  We are a multicolored brand, with our colors inspired from our brand mark spectrum.
  Our primary color palette is made up of seven colors, that make us stand out and
  play a critical part in what distinguishes our look and feel.

  # Secondary colors
  In addition to our primary color palette, we have derived a set of secondary colors
  to complement and extend the brand identity across applications. This gives our
  communication added flexibility, while ensuring consistency with the the overall
  look and feel.

  (Wipro_Brand_Book_110219.pdf, pages 27 & 28)
*/
$grav-co-wipro-cyan-100: #0089cf;
$grav-co-wipro-cyan-80: #1099d6;
$grav-co-wipro-cyan-60: #5bacdf;
$grav-co-wipro-cyan-40: #93c2e9;
$grav-co-wipro-cyan-20: #c7ddf3;
$grav-co-wipro-cyan-7: #e7f2fb;

$grav-co-wipro-blue-100: #034ea2;
$grav-co-wipro-blue-80: #4665af;
$grav-co-wipro-blue-60: #7080bf;
$grav-co-wipro-blue-40: #99a0d1;
$grav-co-wipro-blue-20: #c7cbe5;
$grav-co-wipro-blue-7: #e9ebf6;

$grav-co-wipro-violet-100: #6f2c91;
$grav-co-wipro-violet-80: #8552a1;
$grav-co-wipro-violet-60: #9c76b4;
$grav-co-wipro-violet-40: #b69cca;
$grav-co-wipro-violet-20: #d6c9e3;
$grav-co-wipro-violet-7: #eeebf5;

$grav-co-wipro-red-100: #eb1c24;
$grav-co-wipro-red-80: #f15b46;
$grav-co-wipro-red-60: #f58468;
$grav-co-wipro-red-40: #f9ac90;
$grav-co-wipro-red-20: #fdd4c2;
$grav-co-wipro-red-7: #feeee7;

$grav-co-wipro-yellow-100: #fdb913;
$grav-co-wipro-yellow-80: #ffc54e;
$grav-co-wipro-yellow-60: #ffd27c;
$grav-co-wipro-yellow-40: #ffdfa4;
$grav-co-wipro-yellow-20: #ffedce;
$grav-co-wipro-yellow-7: #fff7eb;

$grav-co-wipro-green-100: #a5cf4c;
$grav-co-wipro-green-80: #b6d772;
$grav-co-wipro-green-60: #c7df94;
$grav-co-wipro-green-40: #d9e9b5;
$grav-co-wipro-green-20: #eaf3d8;
$grav-co-wipro-green-7: #f8fbf0;

$grav-co-wipro-teal-100: #00b49d;
$grav-co-wipro-teal-80: #50c0ad;
$grav-co-wipro-teal-60: #82cdbf;
$grav-co-wipro-teal-40: #acdcd2;
$grav-co-wipro-teal-20: #b9e1d6;
$grav-co-wipro-teal-7: #edf7f5;


/*
  # Grays
  White and light gray are the colors usually used for backgrounds in our
  communication. Dark gray is usually used for body text.

  (Wipro_Brand_Book_110219.pdf, pages 27)
*/
$grav-co-wipro-dark-gray: #4d4848;
$grav-co-wipro-light-gray: #e6e6e6; // Wrong in brand PDF!
$grav-co-wipro-white: #fff;


/*
  # Reserved colors

  Wipro’s color palette released as a part of our brand refresh in May, 2017,
  is now reserved for specific applications of the Spirit of Wipro and the
  brand architecture.

  Some examples include graphical representations of the Spirit of Wipro values
  e.g. Spirit of Wipro boards, reverse of visiting cards, and official merchandise.
  The highlight discs on all official ID cards are also a reflection of the Spirit
  of Wipro, and will continue to use these colors.

  Representations of Wipro’s sub-brands and internal initiatives, will also carry
  these colors. The construction of these are detailed in the ‘Brand architecture’
  section of this book.

  (Wipro_Brand_Book_110219.pdf, pages 29)
*/
$grav-co-wipro-navy-blue: #002d72; // Pantone 288 C
$grav-co-wipro-apple-green: #6cc24a; // Pantone 360 C
$grav-co-wipro-sunny-yellow: #f3d54e; // Pantone 128 C
$grav-co-wipro-ruby-red: #ef3340; // Pantone 032 C
$grav-co-wipro-sky-blue: #009cde; // Pantone 2925 C
