{%- from 'atoms-link' import link -%}

{# Reusable macro for other templates to import: #}
{%- macro jobCard(job) -%}
<p class="grav-c-job-card">
  {{ link(job.title, job.url) }}
  <span>{{ job.type }}</span>
</p>
{%- endmacro -%}

{# Example rendering: #}
{{- jobCard(job) | safe -}}

