// a simple mixin to create a container for the page
@mixin grav-l-container($no-margin: false) {
  max-width: $grav-page-content-max-width;

  // IE10+ bug that happens when using margin: auto
  // to fill all the available space between flex items.
  // More info: https://github.com/philipwalton/flexbugs#flexbug-15
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: $grav-page-content-max-width;
  }

  @if (not $no-margin) {
    margin-right: $grav-page-content-inset;
    margin-left: $grav-page-content-inset;
  }

  @media (min-width: gravy-breakpoint(regular)) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: gravy-breakpoint(large)) {
    max-width: $grav-page-content-max-width-large;
  }
}
