{%- include 'organisms-page-header' -%}
{%- block pageContent %}
<main>
  {% block mainContent -%}
    {#
      Just some dummy example content.
      Other templates should extend this template
      and replace this block with whatever they
      need.
    #}
    <div class="grav-o-container">
      <h1>{{title}}</h1>
    </div>
    {% for section in sections -%}
      {% include 'organisms-section' %}
    {% endfor %}
  {%- endblock -%}
</main>
{%- endblock -%}
{%- include 'organisms-page-footer' -%}
