{{> organisms-page-header }}
<main class="grav-o-container">
  <h1>{{title}}</h1>
  <p>{{excerpt.short}}</p>
  {{#go-home}}
    {{> atoms-block-link }}
  {{/go-home}}
</main>
{{> organisms-page-footer }}
