{{> organisms-page-header }}
<main class="grav-o-container">
  <section class="grav-o-section--centered">
    <h1>{{> atoms-ascii-art }} {{title}}</h1>
    <p>{{excerpt.short}}</p>
    <div class="grav-o-container">
      <a href="#the-hiring-process" class="grav-c-cta">Go to the homepage</a>
    </div>
  </section>
</main>
{{> organisms-page-footer }}
