<header role="banner">
  <div>
    <a href="{{{url}}}">
      {{> atoms-logotype(label: "buildit @ wipro digital") }}
    </a>
    {{> atoms-icon-toggle-button(symbolId: 'menu') }}
  </div>
  {{> molecules-nav-menu }}
</header>
