<header role="banner" class="is-light">
  <div>
    <div class="logo-main">
      <a href="{{{url}}}">
        {{> atoms-logotype(label: "buildit @ wipro digital") }}
      </a>
    </div>
    {{> molecules-nav-menu }}
  </div>
</header>