<header>
  <div>
    <div class="grav-c-page-header__logo">
      {{#header.url}}
      <a href="{{{header.url}}}">
      {{/header.url}}
      {{^header.url}}
      <h1>
      {{/header.url}}
        {{> atoms-logotype(label: "buildit @ wipro digital") }}
      {{#header.url}}
      </a>
      {{/header.url}}
      {{^header.url}}
      </h1>
      {{/header.url}}
    </div>
    {{> atoms-toggle-menu }}
    {{> molecules-nav-menu }}
  </div>
</header>
