<header role="banner"{{#header.light}} class="is-light"{{/header.light}}>
  <div>
    <div class="logo-main">
      <a href="{{{header.url}}}">
        {{> atoms-logotype-icon(label: "buildit @ wipro digital") }}
      </a>
    </div>
    {{> molecules-nav-menu }}
  </div>
</header>