<section class="grav-c-hero">
  <canvas></canvas>
  {{#hero.pullout}}<blockquote class="grav-c-pullout">{{{hero.pullout}}}</blockquote>{{/hero.pullout}}
  {{#hero.paragraph}}<p>{{{hero.paragraph}}}</p>{{/hero.paragraph}}
  {{#hero}}{{> atoms-cta}}{{/hero}}
</section>
