<section class="grav-c-hero" style="background-image: url('{{hero.background}}')">
  {{#hero.content}}
    {{#paragraph}}<p>{{{paragraph}}}{{/paragraph}}
    {{#pullout}}<blockquote class="grav-c-pullout">{{{pullout}}}</blockquote>{{/pullout}}
  {{/hero.content}}
</section>