<section class="grav-c-hero">
  <canvas></canvas>
  {{#hero.content}}
    {{#paragraph}}<p>{{{paragraph}}}</p>{{/paragraph}}
    {{#pullout}}<blockquote class="grav-c-pullout">{{{pullout}}}</blockquote>{{/pullout}}
  {{/hero.content}}
</section>