/** @define sg-example */
.sg-example--inline-block {
  @include grav-color-apply('background-color', 'b', 'neutral', true);

  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.sg-example--padded-block {
  @include grav-color-apply('background-color', 'b', 'accent', true);

  max-width: 8rem;
}

.sg-example--padded-block > div {
  @include grav-color-apply('background-color', 'b', 'accent', true);

  height: 6rem;
  position: relative;
  box-sizing: border-box;
}

.sg-example--padded-block > div > div {
  @include grav-color-apply('background-color', 'b', 'neutral', true);

  position: absolute;
  box-sizing: border-box;
}
