{% for font in fonts %}
  <h4 class="sg-pattern-sub-heading">{{font.name}}</h4>
  <ul class="sg-fonts">
    {% for weight in font.weights %}
      <li class="sg-fonts__font">
        <strong class="sg-fonts__weight">{{weight.name}} weight</strong>
        <code class="sg-fonts__css">font-family: {{font.cssFontFamily}}; font-weight: {{weight.cssFontWeight}}; font-style: normal;</code>
        <p class="sg-fonts__sample" style="font-family: {{font.cssFontFamily}}; font-weight: {{weight.cssFontWeight}}; font-style: normal;">{{excerpt.medium}}</p>
      </li>
      {% if hasItalic %}
        <li class="sg-fonts__font">
          <strong class="sg-fonts__weight">{{weight.name}} weight (italic)</strong>
          <code class="sg-fonts__css">font-family: {{font.cssFontFamily}}; font-weight: {{weight.cssFontWeight}}; font-style: italic;</code>
          <p class="sg-fonts__sample" style="font-family: {{font.cssFontFamily}}; font-weight: {{weight.cssFontWeight}}; font-style: italic;">{{excerpt.medium}}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

