body > footer {
  @include grav-color-grp-b-apply('border-bottom-color', 'accent');
  @include grav-font-size(-1);

  padding: $grav-sp-l 0;
  border-bottom-width: $grav-st-thickness-medium;
  border-bottom-style: solid;

  * {
    @media all and (max-width: grav-breakpoint(medium)) {
      text-align: center;
    }
  }
}

.grav-c-page-footer__lists {
  display: flex;

  @media all and (max-width: grav-breakpoint(medium)) {
    flex-direction: column;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    @media all and (min-width: grav-breakpoint(medium)) {
      &:first-of-type {
        padding-right: grav-px2rem(100);
      }
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}
