$grav-page-breakpoint-medium: gravy-breakpoint(medium);

body > footer {
  padding: $grav-sp-l 0;
  background: #424242;
  border-bottom: 2px solid #00b49d;
  color: #9b9b9b;
  font-size: 16px;

  .grav-c-logo {
    margin-bottom: $grav-sp-m;

    @media all and (max-width: $grav-page-breakpoint-medium) {
      display: block;
      margin: 0 auto;
    }
  }

  * {
    @media all and (max-width: $grav-page-breakpoint-medium) {
      text-align: center;
    }
  }
}

.grav-c-page-footer__lists {
  $grav-page-breakpoint-medium: gravy-breakpoint(medium);

  display: flex;
  margin: 0 0 $grav-sp-m;

  @media all and (max-width: $grav-page-breakpoint-medium) {
    flex-direction: column;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    @media all and (min-width: $grav-page-breakpoint-medium) {
      &:first-of-type {
        padding-right: 100px;
      }
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}
