a[href] {
  &:link {
    color: $grav-co-interactive-secondary;
  }

  &:hover {
    color: $grav-co-interactive-secondary-hover;
  }

  &:active {
    background: $grav-co-interactive-secondary;
    color: inherit;
  }

  &:visited {
    color: $grav-co-interactive-secondary-visited;
  }
}


code,
kbd,
samp {
  font-family: monospace;
}
