ul,
ol {
  padding-left: $grav-sp-l;
}

li + li {
  // Decrease default vertical space
  // between successive list items
  margin-top: $grav-sp-m;
}

li > ul,
li > ol {
  // Add space above nested lists and their
  // parent list item's text
  margin-top: $grav-sp-m;
}
