main {
  max-width: $grav-page-content-max-width;
  margin-right: $grav-page-content-inset;
  margin-left: $grav-page-content-inset;

  @media (min-width: gravy-breakpoint(regular)) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: gravy-breakpoint(large)) {
    max-width: $grav-page-content-max-width-large;
  }
}
