table {
  width: 100%;
  border-collapse: collapse;
}

th {
  @include gravy-font(primary, bold);
}

th,
td {
  padding: $grav-sp-inset-squished-s;
  border-width: $grav-st-thickness;
  border-style: $grav-st-style;
}
