.grav-c-logo-image {
  $logo-size-s: 80px;
  $logo-size-m: 100px;
  $logo-size-xl: 130px;

  width: auto;
  max-height: $logo-size-s;


  @media all and (min-width: grav-breakpoint(medium)) {
    max-height: $logo-size-m;
  }
}
