.grav-c-hero {
  position: relative;
  padding: $grav-sp-xl 0;
  background: linear-gradient(180deg, $grav-co-accent-secondary 0%, $grav-co-accent-secondary-darker 100%);
  color: $grav-co-bg;
  text-align: center;

  > * {
    @include grav-l-container;
  }

  > * + * {
    margin-top: $grav-sp-xl;
  }

  > canvas {
    max-width: initial;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}
