.hero {
  position: relative;
  padding: ($grav-sp-xl + $grav-sp-l) 0 $grav-sp-xl 0;
  background: $grav-co-neutral-dirty-snow-white;
  text-align: center;

  .grav-c-pullout,
  p {
    margin-top: 0;
  }

  p {
    margin-bottom: $grav-sp-l;
  }

  > canvas {
    width: 100%;
    max-width: initial;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  > :not(canvas) {
    position: relative;
  }
}
