.job-list {
  > p:first-of-type {
    @include typi(small-text);
    margin-top: $grav-sp-m;
  }

  > ul {
    padding-left: $grav-sp-m;
    list-style-type: none;
  }

  li {
    margin-top: $grav-sp-s;
  }
}
