.steps {
  padding: 0;
  margin-top: $grav-sp-l;
  counter-reset: steps;
  list-style-type: none;

  > li {
    position: relative;
    padding-left: $grav-sp-l;
    padding-bottom: $grav-sp-m;
    margin-top: 0;
    margin-left: $grav-sp-l;
    counter-increment: steps;
    border-left: $grav-st-thickness dashed $grav-co-primary-egg-yolk;
  }

  > li:last-child {
    border-left-width: 0;
  }

  > li::before,
  > li:nth-child(even)::before,
  > li:nth-child(odd)::after {
    content: 'Step ' counters(steps, '.');
    @include gravy-font(secondary, bold);
    padding: $grav-sp-inset-squished-xs;
    background-color: $grav-co-primary-egg-yolk;
  }

  > li::before {
    position: absolute;
    left: -$grav-sp-l;
  }

  > li:nth-child(odd)::after {
    display: none;
  }
}
