{%- extends 'atoms-unordered-list' -%}

{%- from 'atoms-link' import link -%}
{%- from 'atoms-logo-image' import logoImage -%}

{#
  Extend the unordered-list's unorderedListItem block
  to insert an image wrapped in a link
#}
{%- block unorderedListItem -%}
  {%- set linkContent -%}
    {{ logoImage(item.image.src, item.image.alt) | safe }}
  {% endset -%}
  <li>
    {{ link(linkContent, item.url)}}
  </li>
{% endblock -%}


{# Reusable macro for other templates to import: #}
{%- macro listImageLinks(imgLinks) -%}
  {{ unorderedList(imgLinks, "grav-c-list-image-links") | safe }}
{%- endmacro -%}

{# Example rendering: #}
{%- block example -%}
  {{ listImageLinks(imgLinksItems) | safe }}
{%- endblock -%}
