@mixin debug($message: '') {
  $warning-color: #f00;

  position: relative;
  outline: 3px solid $warning-color;

  &::after {
    content: $message;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem;
    background-color: rgba($warning-color, 0.7);
    border-radius: 0 0 0.5rem;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
}

.grav-o-container .grav-o-container {
  @include debug('Nesting of .grav-o-container is not allowed.');
}
