.grav-c-two-columns-text {
  max-width: gravy-breakpoint(medium);
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  list-style-type: none;


  @media all and (min-width: gravy-breakpoint(medium)) {
    column-gap: $grav-sp-l;
    columns: 2;
  }
}
