<div class="grav-c-location-card">
  <h2>{{location.name}}</h2>
  <p>
    {{#location.addressline1}}{{location.addressline1}}<br>{{/location.addressline1}}
    {{#location.addressline2}}{{location.addressline2}}<br>{{/location.addressline2}}
    {{#location.city}}{{location.city}}<br>{{/location.city}}
    {{#location.postcode}}{{location.postcode}}<br>{{/location.postcode}}
    {{#location.country}}{{location.country}}{{/location.country}}
  </p>
  <a href="{{location.map-link}}" title="See {{location.name}} office on Google Maps - Opens in a new tab" target="_blank">
    <img src="{{location.img}}" alt="{{location.img-alt}}">
  </a>
</div>