// just an utility class to use the grav-l-container mixin directly as a class.
.grav-o-container {
  @include grav-l-container;

  &-background-banner {
    background-color: $grav-co-neutral-ashtray;
  }
}
