.grav-o-locations-layout {
  @media (min-width: gravy-breakpoint(regular)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: gravy-breakpoint(large)) {
    grid-auto-rows: 300px;
  }

  > img {
    display: none;
    
    @media (min-width: gravy-breakpoint(regular)) {
      display: block;
      margin: 0;
    }
  }
}
