.grav-o-locations-layout {
  grid-template-columns: 1fr 1fr;

  @media (min-width: gravy-breakpoint(regular)) {
    display: grid;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas: "tile1 image1" 
                         "tile2 image1"
                         "tile3 tile4"
                         "image2 tile5"
                         "image2 tile6";
  }

  .grav-c-location-card {
    &:nth-of-type(1) {
      grid-area: tile1;
    }
    &:nth-of-type(2) {
      grid-area: tile2;
    }
    &:nth-of-type(3) {
      grid-area: tile3;
    }
    &:nth-of-type(4) {
      grid-area: tile4;
    }
    &:nth-of-type(5) {
      grid-area: tile5;
    }
    &:nth-of-type(6) {
      grid-area: tile6;
    }
  }

  > img {
    display: none;
    
    @media (min-width: gravy-breakpoint(regular)) {
      display: block;
      margin: 0;
    }
  }
  > img:first-of-type {
    grid-area: image1;
  }
  > img:last-of-type {
    grid-area: image2;
  }
}
