{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>

  <section>
    <h2>Our Vision &amp; Purpose</h2>
    <p>{{excerpt.short}}</p>
    <blockquote>One-line pull-out quote about vision and purpose</blockquote>
    <p>{{excerpt.short}}</p>
  </section>

  <section>
    <h2>What we do</h2>
    <p>We solve hard engineering problems with our customers, and help them bring world-class products to market. We help them change the way they solve business problems, ultimately <em>changing the way they change</em>.</p>
    <p>True transformation only happens when change touches all areas of an organisation. Change must be holistic and consider all aspects of the engineering stack, from strategy to front-end development, from platform engineering to software automation. We call this <strong>vertical transformation</strong>.</p>
    <!--pre>
    Engineering,
    customers,
    world-class product,
    renovating businesses,
    new products and services,
    transformation,
    partner,
    strategy,
    continuous delivery,
    optimisation.
    </pre-->
  </section>

  <section>
    <h2>How we do it</h2>
    <p>We are problem solvers who hone our craft through experimentation, continuous improvement and the applcation of systems thinking.</p>
    <p>We learn by failing safely. We empower people through trust and autonomy.</p>
    <!--pre>
    Problem solving,
    sustainability,
    empowering people,
    experimentation,
    making mistakes,
    complexity,
    new ways of working,
    better organisations,
    high-impact work,
    making sense,
    hands-on,
    engineering excellence,
    system thinking,
    lean,
    cross-functional,
    continuous improvement.</pre-->
  </section>

  <section>
    <h2>Who we are</h2>
    <ul>
      <li>
        <h4>Innovative</h4>
        <p>Self-confessed geeks, always curious to explore technology and better ways of working that deliver maximum business impact.</p>
      </li>
      <li>
        <h4>Problem solvers</h4>
        <p>Managing complexity is our raison d’etre, adapting to users, building within frameworks, and maintaining the big picture.</p>
      </li>
      <li>
        <h4>No "bull"</h4>
        <p>From open-minded to open source, as natural collaborators we are not afraid to 'do the right thing' for our clients and their customers.</p>
      </li>
      <li>
        <h4>Battle tested</h4>
        <p>Resilience is our most valuable quality, with teams that own, commit and have the ability to adapt to unique organisational aspirations and challenges.</p>
      </li>
    </ul>

    <h3>What we value</h3>
    <pre>
    Change,
    learning,
    growth,
    creativity,
    enjoyment,
    safety,
    responsiveness,
    trust,
    flexibility,
    agility,
    attention to details,
    curiosity,
    ego-less,
    passion.</pre>

    <h3>Our people</h3>
    <p>Buildit has an <strong>open structure</strong>, which means that employees work within <em>wide boundaries</em>.</p>
    <p>The environment and culture which is shaped by Buildit’s people, is driven by several key factors including; transparency, curiosity, inclusivity, pragmatism and responsibility. Buildit employees work in an environment where everyone is encouraged to continually develop through a cohesive unit of learning, and perhaps more importantly, given the autonomy to do so.</p>
    <p>As engineers, we aim to deliver value in a sustainable way.</p>
    <p>We also want to be a place where people can learn and grow, where they enjoy working and creating.</p>
    <p>We work with our partners across <a href="https://wiprodigital.com">Wipro Digital</a>, such as <a href="https://design.it">Designit</a>, and strategy.</p>
    <pre>
    Diversity,
    inclusivity,
    global,
    cross-functional,
    polyglot.
    </pre>
  </section>
</main>
{{> organisms-page-footer }}
