{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>

  {{#sections}}
    <section>
      <h2>{{{section.title}}}</h2>
      {{#section.paragraphs}}
        {{#paragraph}}<p>{{{paragraph}}}</p>{{/paragraph}}
        {{#blockquote}}<blockquote>{{{blockquote}}}</blockquote>{{/blockquote}}
      {{/section.paragraphs}}
      {{#section.img-cards}}
        {{> organisms-list-img-cards }}
      {{/section.img-cards}}
    </section>
  {{/sections}}
</main>
{{> organisms-page-footer }}
