{{> organisms-page-header }}
<main>
  {{>organisms-hero}}
  {{#sections}}
  {{>organisms-section}}
  {{/sections}}
  <section>
    <p class="grav-u-text-centered">Here are some of the clients we have worked with:</p>
    <div class="grav-o-container-background-banner">
      {{> organisms-list-image-links }}
    </div>  
  </section>
</main>
{{> organisms-page-footer:grav-c-footer-no-margin }}