{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>

  {{#locations}}
    {{> organisms-job-list }}
  {{/locations}}

  <section>
    <h2>How does it work?</h2>
    <p>{{excerpt.medium}}</p>
  </section>

</main>
{{! organisms-page-footer }}