{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>
  <p>
    <a href="#the-hiring-process">The hiring process</a>
  </p>

  {{#locations}}
    {{> organisms-job-list }}
  {{/locations}}

  <section>
    <a id="the-hiring-process" class="is-hidden"></a>
    <h2>The hiring process</h2>
    <p>We want to have a simple process that will allow both us and you to bring out the best of all parties. We want to make sure that we are right for you as much as the other way around. The typical hiring process is as follows:</p>

    {{> organisms-steps }}

  </section>

</main>
{{> organisms-page-footer }}