{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>
  <h2>City, Country</h2>
  <ul>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
  </ul>

  <h2>City, Country</h2>
  <ul>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
    <li>
      <h3>Position title</h3>
      <p>Type</p>
    </li>
  </ul>

</main>
{{! organisms-page-footer }}