{{> organisms-page-header }}
<main>
  <h1>{{title}}</h1>
  <div class="grav-o-locations-layout">
    {{#offices}}
      {{> molecules-image-card}}
    {{/offices}}
    <img src="http://via.placeholder.com/425x600" alt="">
    <img src="http://via.placeholder.com/425x600" alt="">
  </div>

</main>
{{> organisms-page-footer }}
