/**
  Some low-specifity defaults inspired by Heydon Pickering's Aximoatic CSS

  * https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * https://www.smashingmagazine.com/2016/11/css-inheritance-cascade-global-scope-new-old-worst-best-friends/
*/

@include gravy-init;
@include gravy-text-defaults;


* {
  // Zero any margins coming from user-agent stylesheets
  margin: 0;

  // Make everything inherit key typography properties by default
  color: inherit; // Note, border-color defaults to this too, unless overridden
  font-family: inherit;
  line-height: inherit;
}

// Default vertical margin *between* block elements
* + * {
  margin-top: $grav-sp-m;
}

html {
  // font-size & line-height are set by Gravy. See gravy.scss
  @include gravy-font('primary');

  background-color: $grav-co-bg;
  color: $grav-co-fg;
}

// Exceptions to the * + * rule
body,
br,
dt + dt,
dd,
th,
td,
option,
header[role=banner] {
  margin-top: 0;
}
