[href].grav-c-cta {
  @include gravy-font(secondary, regular);
  display: inline-block;
  position: relative;
  margin: 0;
  padding: $grav-sp-inset-squished-xs;
  border-width: 0;
  text-decoration: none;
  transition-duration: $grav-tr-speed;
  transition-property: color;
  z-index: 0;

  &:link {
    color: currentColor;
  }

  &:visited {
    color: inherit;
  }

  &:focus,
  &:hover {
    color: inherit;

    &::after {
      height: 100%;
      background-color: $grav-co-accent-primary-light;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: $grav-st-thickness-large;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $grav-co-accent-primary;
    transition-duration: $grav-tr-speed;
    transition-property: height, background-color;
    z-index: -1;
  }
}
