<dl class="sg-size-list">
{{#sizes}}
  <dt>{{name}}</dt>
  <dd class="sg-size-list__sample" style="width: {{length}};">
  </dd>
  <dd class="sg-size-list__value">
    Value: <code>{{length}}</code>
  </dd>
  <dd class="sg-size-list__var">
    SASS var: <code>{{var}}</code>
  </dd>
{{/sizes}}
</dl>
