{{#sizes}}
  <p><strong>{{name}}</strong></p>
  <dl class="sg-datalist sg-datalist--code">
    <dt><span class="sg-datalist__label">Size</span></dt>
    <dd><span class="sg-example--inline-block" style="width: {{length}};"></span><code>{{length}}</code></dd>
    <dt><span class="sg-datalist__label">SASS</span></dt>
    <dd><code>{{var}}</code></dd>
  </dl>
{{/sizes}}
