<dl class="sg-inset-list">
{{#insets}}
  <dt>{{name}}</dt>
  <dd class="sg-inset-list__sample">
    <div style="padding: {{vLength}} {{hLength}};">
      <div style="width: calc(100% - 2 * {{hLength}}); height: calc(100% - 2 * {{vLength}});"></div>
    </div>
  </dd>
  <dd class="sg-inset-list__value">
    Vertical &amp; horizontal lenghts: <code>{{vLength}} {{hLength}}</code>
  </dd>
  <dd class="sg-inset-list__var">
    SASS var: <code>{{var}}</code>
  </dd>
{{/insets}}
</dl>
