.grav-c-logo-image {
  $logo-size-s: 110px;
  $logo-size-l: 135px;
  $logo-size-xl: 170px;

  width: auto;
  max-height: $logo-size-s;


  @media all and (min-width: gravy-breakpoint(medium)) {
    max-height: $logo-size-l;
  }

  @media all and (min-width: gravy-breakpoint(extra-large)) {
    max-height: $logo-size-xl;
  }
}
