// Note: The Page Header always spans the full width of the viewport. This
// is in case we want to give it any kind of full-bleed background styling.
// The child elements within therefore need to respect the maximum content
// width ($grav-page-content-max-width) themselves, where necessary.
header[role=banner] {
  background-color: $grav-co-neutral-charcoal;

  &.is-light { // stylelint-disable selector-no-qualifying-type
    background-color: transparent;


    .grav-c-logo {
      fill: $grav-co-neutral-asphalt;
    }

    .grav-c-logo:hover {
      fill: $grav-co-neutral-warm-grey;
    }

    .grav-c-block-link {
      background-color: $grav-co-bg;
      color: $grav-co-neutral-asphalt;
    }

    .grav-c-block-link:hover {
      color: $grav-co-neutral-warm-grey;
    }
  }

  > div {
    @include grav-l-container;

    display: flex;
    flex-wrap: wrap;
    padding-top: $grav-sp-m;
    padding-bottom: $grav-sp-m;
    align-items: center;
    justify-content: space-between;

    @media (min-width: gravy-breakpoint(medium)) {
      // Force nav onto same line as logo
      flex-wrap: nowrap;
    }
  }

  .logo-main {
    width: 70%; // 2/3 ish of the space

    @media (min-width: gravy-breakpoint(medium)) {
      width: auto;
    }
  }

  .grav-c-logo {
    display: block;
    max-height: 33px; // Otherwise IE11 makes it 150px tall :-(
    fill: $grav-co-bg;

    // Bump up logo size
    @media (min-width: gravy-breakpoint(medium)) {
      height: 2.5rem;
      max-height: none;
    }
  }

  .grav-c-toggle-menu {
    flex-shrink: 0;

    @media (min-width: gravy-breakpoint(medium)) {
      display: none;
    }

    &[aria-pressed] ~ .grav-c-nav-menu,
    &[aria-pressed='false'] ~ .grav-c-nav-menu {
      display: none;

      @media (min-width: gravy-breakpoint(medium)) { // stylelint-disable max-nesting-depth
        display: flex;
        margin-top: 0;
      }
    }

    &[aria-pressed='true'] ~ .grav-c-nav-menu {
      display: block;
    }
  }

  .grav-c-nav-menu {
    // Overflow, so that right edge of navlinks is flush
    // with screen edge
    width: calc(100% + #{$grav-page-content-inset});
    margin-top: 0;
    flex-shrink: 0;

    @media (min-width: gravy-breakpoint(medium)) {
      width: auto;
      margin-left: $grav-sp-m;
    }
  }
}
