// Note: The Page Header always spans the full width of the viewport. This
// is in case we want to give it any kind of full-bleed background styling.
// The child elements within therefore need to respect the maximum content
// width ($grav-page-content-max-width) themselves, where necessary.
header[role=banner] {
  background-color: $grav-co-neutral-charcoal;

  > div {
    max-width: $grav-page-content-max-width;
    position: relative;
    margin: 0;

    @media (min-width: gravy-breakpoint(medium)) {
      display: grid;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
      grid-template-columns: 300px 1fr;
    }
  }

  .logo-main {
    display: block;
    padding: $grav-sp-m 6rem $grav-sp-m $grav-sp-m;

    @media (min-width: gravy-breakpoint(medium)) {
      padding-right: $grav-sp-m;
    }

    @media (min-width: gravy-breakpoint(regular)) {
      padding-left: 0;
    }
  }

  .grav-c-logo {
    display: block;
    fill: $grav-co-bg;

    // Bump up logo size
    @media (min-width: gravy-breakpoint(medium)) {
      height: 2.5rem;
    }
  }

  .grav-c-nav-menu {
    max-width: $grav-page-content-max-width;
    position: absolute;
    top: $grav-sp-m;
    right: 0;
    margin: 0;

    @media (min-width: gravy-breakpoint(medium)) {
      position: initial;
      top: auto;
      right: auto;
      justify-self: flex-end;
    }
  }
}
