body > header[role=banner] {

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .grav-c-logo {
    fill: $grav-co-fg;
    display: block;
  }

  .grav-c-icon-toggle-button {
    margin: 0 0 0 $grav-sp-m;
    flex-shrink: 0;
  }

  // Media queries
  @media (min-width: gravy-breakpoint(medium)) {
    .grav-c-logo {
      height: 2.5rem;
      width: auto;
    }
  }
}
