<ul class="grav-c-list-img-cards">
  {{#img-cards}}
  <li>
    <img src="{{card.image.src}}" alt="{{card.image.alt}}"/>
    <h3 class="grav-c-list-img-cards__title">{{card.title}}</h3>
    <p>{{card.content}}</p>
  </li>
  {{/img-cards}}
</ul>