<ul class="grav-c-list-image-links">
  {{#img-Links}}
    <li><a href="{{imgLink.href}}" title="{{imgLink.title}}">
        <img class="grav-c-logo-image" src="{{imgLink.image.src}}" alt="{{imgLink.image.alt}}"/>
    </a></li>
  {{/img-Links}}
</ul>
