.grav-c-block-link {
  display: inline-block;
  padding: $grav-sp-xs;
  color: $grav-co-neutral-asphalt;
  text-decoration: none;
  white-space: nowrap;


  &[href] {
    @include gravy-font(primary);

    &:link,
    &:visited {
      color: $grav-co-neutral-asphalt;
    }

    &:active,
    &:hover {
      border-color: $grav-co-accent-secondary;
      color: $grav-co-neutral-warm-grey;
    }
  }

  &:not([href]) {
    @include gravy-font(primary, bold);
  }
}
