
/* Color palette previews */
.sg-colors {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sg-colors__color {
  list-style-type: none;
  width: 20%;
  min-width: 12rem;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
}

.sg-colors__swatch,
.sg-colors__name,
.sg-colors__var {
  display: block;
}

.sg-colors__swatch {
  height: 4rem;
  margin-bottom: 0.5rem;
}

.sg-colors__name {
  font-family: sans-serif;
}


/* Color palette previews */
.sg-fonts {
  padding: 0;
}

.sg-fonts__font {
  list-style-type: none;
  margin: 0 0 2rem 0;
}

.sg-fonts__font > p {
  margin: 0 0 0.5rem 0;
}
