.grav-c-three-column-list-justified {
  padding: 0;
  list-style: none;

  @media all and (min-width: grav-breakpoint(small)) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    > li {
      width: 33.3%;
      padding-right: $grav-sp-m;
      flex-grow: 1;

      &:nth-child(3n+2) {
        padding-left: $grav-sp-m;
        text-align: center;
      }

      &:nth-child(3n) {
        padding-right: 0;
        padding-left: $grav-sp-m;
        text-align: right;
      }

      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}
