<nav class="grav-c-nav-menu">
  <ul>
  {{#links}}
    <li>
      {{> atoms-nav-link }}
    </li>
  {{/links}}
  {{#externalLinks}}
    <li class="grav-c-nav-menu__external-link">
      {{> atoms-nav-link }}
    </li>
  {{/externalLinks}}
  </ul>
</nav>
