<button type="button" class="grav-c-toggle-menu" aria-pressed="{{control.pressed}}">
  {{control.label}}
</button>
<nav class="grav-c-nav-menu">
  <ul>
  {{#links}}
    <li>
      {{> atoms-block-link }}
    </li>
  {{/links}}
  </ul>
</nav>