{{> atoms-toggle-menu }}
<nav class="grav-c-nav-menu">
  <ul>
  {{#links}}
    <li>
      {{> atoms-block-link }}
    </li>
  {{/links}}
  {{#externalLinks}}
    <li class="grav-c-nav-menu__external-link">
      {{> atoms-block-link }}
    </li>
  {{/externalLinks}}
  </ul>
</nav>
