.grav-c-tile {
  position: relative;
}

.grav-c-tile__content {
  position: relative;
  padding: $grav-sp-l $grav-sp-m;
  z-index: 10;
}

.grav-c-tile__img {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 5;
}
