<section class="grav-c-job-list">
  <header>
    <h2>{{location.city}}, {{location.country}}</h2>
  </header>
  <ul>
    {{#jobs}}
      <li>
        {{> molecules-job-card }}
      </li>
    {{/jobs}}
  </ul>
</section>