<section class="grav-c-job-list">
  <h2>{{location.name}}, {{location.country}}</h2>
  <ul>
    {{#jobs}}
      <li>
        {{> molecules-job-card }}
      </li>
    {{/jobs}}
  </ul>
  <p><a href="">More information about the {{location.name}} office.</a></p>
</section>