<section class="grav-c-job-list">
  <header>
    <h2>{{location.name}}, {{location.country}}</h2>
    <p><a href="#" title="More information about the {{location.name}} office." class="grav-c-cta">About this office.</a></p>
  </header>
  <ul>
    {{#jobs}}
      <li>
        {{> molecules-job-card }}
      </li>
    {{/jobs}}
  </ul>
</section>