a {
  @include gravy-font(primary, bold);

  &[href] {
    &:link {
      color: $grav-co-interactive-secondary;

      @media (prefers-color-scheme: dark) {
        color: $grav-co-accent-secondary-light;
      }      
    }

    &:visited {
      color: $grav-co-interactive-secondary-visited;

      @media (prefers-color-scheme: dark) {
        color: $grav-co-accent-secondary-dark;
      }  
    }

    &:hover {
      color: $grav-co-interactive-secondary-hover;
      @media (prefers-color-scheme: dark) {
        color: $grav-co-accent-secondary;
      }
    }

    &:active {
      color: $grav-co-accent-primary-light;
    }
  }
}

b,
strong {
  @include gravy-font(primary, bold);
}

code,
kbd,
samp {
  font-family: monospace;
}
