////
/// Definitions of Gravity's out-of-the-box color scheme maps.
///
/// @group  colors
/// @access public
////

@import 'gravity-particles/color-schemes';

/// The name of the default color scheme that is applied to pages
$grav-co-scheme-default-name: 'teal-white';
$grav-co-scheme-default-dark-name: 'teal-dark-gray';

/// The name of the contrast color scheme that is applied to pages
$grav-co-scheme-contrast-name: 'teal-dark-gray';
$grav-co-scheme-contrast-dark-name: 'teal-black';
