@import 'modularscale';


// stylelint-disable-next-line scss/dollar-variable-pattern
$modularscale: (
  // Note: We must *only* alter the ratio across breakpoints here.
  // We will be using this to generate CSS custom props for scaling
  // the base font-size

  ratio: $minor-second,
  base: 1rem,

  $grav-breakpoint-smallest: (
    ratio: $minor-second,
    base: 1rem,
  ),

  $grav-breakpoint-largest: (
    ratio: $minor-third,
    base: 1rem,
  )
);

$grav-scale-min: -2;
$grav-scale-max: 6;
