////
/// @group typography
////

@import '../_external/modularscale-sass/modularscale';

/* stylelint-disable scss/dollar-variable-pattern */
/// Configuration map for the modularscale SASS library.
///
/// @link https://github.com/modularscale/modularscale-sass#readme Modular Scale SASS library
///
/// @access private
$modularscale: (

  // Note: We must *only* alter the ratio across breakpoints here.
  // We will be using this to generate CSS custom props for scaling
  // the base font-size

  ratio: $minor-second,
  base: $grav-font-size-smallest-viewport,

  $grav-breakpoint-smallest: (
    ratio: $minor-second,
    base: $grav-font-size-smallest-viewport,
  ),

  $grav-breakpoint-largest: (
    ratio: $minor-third,
    base: $grav-font-size-largest-viewport,
  )
);
/* stylelint-enable scss/dollar-variable-pattern */

/// The lowest point on Gravity's modular scale of font sizes.
///
/// @type number
$grav-scale-min: -2;

/// The highest point on Gravity's modular scale of font sizes.
///
/// @type number
$grav-scale-max: 6;
