////
/// Typography-related values
///
/// @group typography
////

/// The base font size used at the narrowest viewport width.
///
/// @type length value
///
/// @access private
$grav-font-size-smallest-viewport: 1rem;

/// The base font size used at the widest viewport width.
///
/// @type length value
///
/// @access private
$grav-font-size-largest-viewport: 1.375rem;

/// The default line height.
///
/// @type number
$grav-line-height: 1.414;
$grav-line-height-title: 1.1;

/// The optimal maximum width for a line of text.
///
/// @type length value
$grav-line-max-width-m: 40em;

/// The primary font family.
///
/// This is the font family that is applied to most UI elements.
///
/// @access private
$_grav-font-family-primary: "Helvetica Neue";

/// The monospace font family.
///
/// This is the font family is applied to select UI elements that
/// should render with a monospaces font. For example `<pre>` or
/// `<code>`.
///
/// @access private
$_grav-font-family-mono: "Wipro Akkurat Mono TT";

/// Map of web fonts to declare in the CSS output.
///
/// This map is used internally by Gravity to generate
/// `@font-face` declarations.
///
/// The organisation is as follows:
/// Font family > CSS font weight > CSS font style
///
/// Note: To understand where the `local()` names come from, refer to the
/// comments for the `grav-font-face()` mixin.
///
/// @access private
$grav-font-faces: (
  $_grav-font-family-primary: (
    // Light
      300:
      (
        normal: (
          local-name: "HelveticaNeueLTStd-UltLt",
        ),
        italic: (
          local-name: "HelveticaNeueLTStd-UltLtIt",
        ),
      ),
    // Regular
      400:
      (
        normal: (
          local-name: "HelveticaNeueLTStd-Md",
        ),
        italic: (
          local-name: "HelveticaNeueLTStd-MdIt",
        ),
      ),
    // Bold
      900:
      (
        normal: (
          local-name: "HelveticaNeueLTStd-Blk",
        ),
        italic: (
          local-name: "HelveticaNeueLTStd-BlkIt",
        ),
      ),
  ),
  $_grav-font-family-mono: (
    // Regular
      normal:
      (
      normal: (
          local-name: "WiproAkkuratMonoTT-Regular",
          base-name: "WiproAkkuratMonoWeb-Regular",
        ),
      ),
  ),
);

/// The default URL path that is prefixed to font filenames.
///
/// This variable is used internally by Gravity to generate
/// `@font-face` declarations.
///
/// @access private
$grav-font-src-path: "https://static.buildit.digital/fonts/v1.0.0";

/// Map of available typefaces.
///
/// This map is used internally by Gravity's typography
/// SASS functions.
///
/// @access private
$grav-typefaces: (
  primary: (
    stack: (
      $_grav-font-family-primary,
      "Helvetica Neue",
      "Helvetica",
      "Arial",
      system-ui,
      sans-serif,
    ),
    weights: (
      light: 300,
      regular: 500,
      bold: 900,
    ),
  ),
  mono: (
    stack: (
      $_grav-font-family-mono,
      "Akkurat Mono",
      monospace,
    ),
    weights: (
      regular: normal,
    ),
  ),
);
