{%- from 'atoms-unordered-list' import unorderedList -%}

{# Reusable macro for other templates to import: #}
{%- macro twoColumnsText(items) -%}
  {{ unorderedList(items, "grav-c-two-columns-text") | safe }}
{%- endmacro -%}

{# Example rendering: #}
{{- twoColumnsText(listItems) | safe -}}
