.grav-c-toggle-menu {
  $grav-sp-icon: 11px;
  $grav-tr-icon-hover: 2px;
  $grav-tr-icon-rotate: 135deg;
  $grav-tr-icon-scale: 1.2;
  $grav-size-icon: 50px;
  $grav-width-icon: 33px;

  height: $grav-size-icon;
  margin-top: 0;
  background: none;
  border-style: hidden;

  &:hover,
  &:active,
  &:focus,
  &[aria-pressed] {
    background: none;
  }

  &__icon {
    display: block;
    width: $grav-width-icon;
    height: $grav-st-thickness-large;
    position: relative;
    margin-top: auto;
    background-color: $grav-co-neutral-asphalt;
    transition: all $grav-tr-speed-slow;
    
    @media (prefers-color-scheme: dark) {
      background-color: $grav-co-neutral-dirty-snow-white;
    }

    &::before,
    &::after {
      content: '';
      display: block;

      width: $grav-width-icon;
      height: $grav-st-thickness-large;
      position: absolute;
      left: 0;
      background-color: $grav-co-neutral-asphalt;

      transition: all $grav-tr-speed-slow;

      @media (prefers-color-scheme: dark) {
        background-color: $grav-co-neutral-dirty-snow-white;
      }
    }

    &::before {top: -$grav-sp-icon;}

    &::after {top: $grav-sp-icon;}

  }

  &:focus &__icon::before,
  &:active &__icon::before,
  &:hover &__icon::before {
    transform: translateY(-$grav-tr-icon-hover);
  }

  &:focus &__icon::after,
  &:active &__icon::after,
  &:hover &__icon::after {
    transform: translateY($grav-tr-icon-hover);
  }

  &[aria-pressed='true']:focus &__icon,
  &[aria-pressed='true']:active &__icon,
  &[aria-pressed='true']:hover &__icon {
    transform: scale($grav-tr-icon-scale);
  }

  &[aria-pressed='true'] &__icon {
    background-color: inherit;

    &::before {
      top: 0;
      transform: rotate($grav-tr-icon-rotate);
    }

    &::after {
      top: 0;
      transform: rotate(-$grav-tr-icon-rotate);
    }
  }
}
