$grav-sp-icon: 0.35rem;
$grav-tr-icon-hover: 0.1rem;
$grav-tr-icon-rotate: 135deg;
$grav-tr-icon-scale: 1.2;
$grav-size-icon: 33px;

.grav-c-toggle-menu {
  display: flex;
  height: $grav-size-icon;
  margin-top: 0;
  border: hidden;
  background-color: inherit;
  text-align: center;
  
  &--inverted,
  .is-light & {
    &__icon,
    &__icon::before,
    &__icon::after {
      background-color: $grav-co-neutral-asphalt;
    }
     
    &[aria-pressed='true']:hover,
    &[aria-pressed='true']:active,
    &[aria-pressed='true']:focus {
      background-color: inherit;
    }
  }
  
  &:hover,
  &:active,
  &:focus {
    background-color: inherit;
    cursor: pointer;

  }

  &__icon {
    display: inline-block;
    width: $grav-sp-m;
    height: $grav-st-thickness;
    position: relative;
    margin-top: auto;
    background-color: $grav-co-bg;
    transition: all $grav-tr-speed-fast;

    &::before,
    &::after {
      content: '';
      display: inline-block;

      width: $grav-sp-m;
      height: $grav-st-thickness;
      position: absolute;
      left: 0;
      background-color: $grav-co-bg;

      transition: all $grav-tr-speed-fast;
    }

    &::before {top: -$grav-sp-icon;}
    
    &::after {top: $grav-sp-icon;}

  }
  
  &:hover &__icon::before {
    transform: translateY(-$grav-tr-icon-hover);
  }

  &:hover &__icon::after {
    transform: translateY($grav-tr-icon-hover);
  }

  &[aria-pressed='true'] {
    background-color: inherit;
    transition: all $grav-tr-speed-fast;
    
    &:hover,
    &:active,
    &:focus {
      background-color: inherit;
    }
  }
  
  &[aria-pressed='true']:focus &__icon,
  &[aria-pressed='true']:active &__icon,
  &[aria-pressed='true']:hover &__icon {
    transform: scale($grav-tr-icon-scale);
  }
  
  &[aria-pressed='true'] &__icon {
    background-color: inherit;
    
    &::before {
      top: 0;
      transform: rotate($grav-tr-icon-rotate);
    }

    &::after {
      top: 0;
      transform: rotate(-$grav-tr-icon-rotate);
    }
  }
}
