// Make body at least as tall as viewport
// and use flexbox to vertically spread out
// header, main and footer so that footer
// appears at bottom of viewport on short
// pages.
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
