.grav-c-related-items {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;

  h3 {
    @include grav-color-grp-b-apply('color', 'neutral-alt');
    font-size: 24px;
  }

  @media all and (min-width: $grav-page-breakpoint-medium) {
    p {
      font-size: 48px;
      line-height: 62px;
    }
  }
}
