<div class="grav-c-tile">
  <div class="grav-c-tile__content">
    <h2>London</h2>
    <p>2 Finsbury Avenue<br>
      London<br>
      EC2M 2PA<br>
      UK
    </p>
  </div>
  <div class="grav-c-tile__img">
    <img src="http://via.placeholder.com/425x300" width="425" height="300" alt="">
  </div>
</div>