<div class="grav-c-tile">
  <div class="grav-c-tile__content">
    <h2>{{office.name}}</h2>
    <p>{{office.addressline1}}<br>
      {{office.addresscity}}<br>
      {{office.postcode}}<br>
      {{office.country}}
    </p>
  </div>
  <div class="grav-c-tile__img">
    <img src="{{office.img}}" width="425" height="600" alt="">
  </div>
</div>