.grav-c-callout {
  p {
    @include grav-font-size(2);
    line-height: 1.2;

    @media all and (min-width: grav-breakpoint(small)) {
      max-width: 24rem;
      margin-right: $grav-sp-l;
    }

    @media all and (min-width: grav-breakpoint(medium)) {
      @include grav-font-size(3);
    }
  }

  .grav-c-callout__columns {
    @include grav-l-container;

    padding-top: $grav-sp-vertical-gap;
    padding-bottom: $grav-sp-vertical-gap;

    @media all and (min-width: grav-breakpoint(small)) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .grav-c-three-column-list-justified {
    max-width: 28rem;
  }
}
