.grav-c-card-basic {
  width: 100%;

  &__title {
    @include typi('large-text');
    @include gravy-font('secondary');
  }

  p {
    @include typi('small-text');
  }

  img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
  }

  > a img {
    @include grav-decoration-notch-in;
  }
}
