.grav-c-card-basic {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include grav-font-size(1);
  }

  p {
    @include grav-font-size(-1);
  }

  img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
  }

  > a img {
    @include grav-decoration-notch-in;
  }
}
