.grav-c-hero {
  position: relative;
  text-align: center;

  .grav-c-hero__banner {
    width: 100%;
    height: 420px;
    position: absolute;
    background: url('/images/hero.jpg') center;
    background-size: cover;
    z-index: 0;
  }

  .grav-c-hero__container {
    max-width: 992px;
    position: relative;
    top: 356px;
    margin: 0 auto;
    padding: 0 80px;
    background-color: #fff;
    z-index: 1;

    h1 {
      margin-bottom: 40px;
      padding-top: 55px;
      font-size: 70px;
      line-height: 100%;
    }
  }
}
