.grav-c-hero {
  text-align: center;

  .grav-c-hero__banner {
    display: block;
    width: 100%;
    height: 26.5rem;
    object-fit: cover;
    object-position: center;
  }

  .grav-o-container {
    position: relative;
    margin-top: 0;
  }

  .grav-c-hero__container {
    @include grav-color-grp-a-apply('background-color', 'neutral', false);
    $container-offset: 3.5rem;
    $container-offset-small: $grav-sp-m;

    @media all and (max-width: grav-breakpoint(medium)) {
      padding-right: $container-offset-small;
      padding-left: $container-offset-small;
    }

    max-width: 780px;
    margin: ($container-offset * -1) auto 0;
    padding: $container-offset 106px 0;
    box-sizing: content-box;

    h1 {
      line-height: 100%;
    }
  }
}
