.grav-c-hero {
  text-align: center;

  .grav-c-hero__banner {
    width: 100%;
    height: 26.5rem;
    background: url('/images/hero.jpg') center;
    background-size: cover;
  }

  .grav-c-hero__container {
    @include grav-color-grp-a-apply('background-color', 'neutral', false);
    $container-offset: 3.5rem;

    margin-top: $container-offset;
    padding: $container-offset 106px 0;

    h1 {
      font-size: 70px;
      line-height: 100%;
    }

    p {
      font-size: 24px;
    }
  }
}
