.grav-c-list-cards-basic {
  padding: 0;
  list-style-type: none;

  > li + li {
    margin-top: $grav-sp-xl;
  }

  @media all and (min-width: grav-breakpoint(medium)) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$grav-sp-l;

    > {
      // 2 col layout
      li {
        flex: 50%;
        padding: 0 $grav-sp-l;
      }

      // Remove top margin from 2nd card
      // since it appears at top of list now
      li:nth-child(2) {
        margin-top: 0;
      }

      // Callouts go full-width
      .grav-c-list-cards-basic__item--callout {
        flex-basis: 100%;
      }

      // Special cases that need top margin reinstated:
      // - any callout (except in 1st position)
      .grav-c-list-cards-basic__item--callout:not(:first-child),
      // - the 2nd card, if it follows a callout
      .grav-c-list-cards-basic__item--callout + li:nth-child(2) {
        margin-top: $grav-sp-xl;
      }
    }
  }
}
